	<div ng-controller="sections">
        <div class="body content">

            <div class="row">
                <div class="large-12 columns">
                    <h3 class="section-title">Because unicorns are soft. And a little bit weird.</h3>
                    <p>When I hear the term unicorn, I envision some magical creature with wondrous powers bestowed upon it for no reason other than the pure dumb luck of being born a unicorn.
                    Over the years I have met a handful of designers & developers that would meet that criteria. I am not one of them.
                    Becoming a competent, professional designer took years of hard work & training. Same goes for HTML, Javascript/jQuery, Responsive Design & UX.
                    Maybe it came a little easier to me than it would for some random guy or gal plucked out of a crowd - I'm not sure.
                    But becoming 'good' at what I do took hard work, determination & more than a little grit and stubbornness.
                    I sir, am no unicorn. I'd rather be a badger any day.</p>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <h3 class="section-title">Hi. I'm Dave.</h3>
                    <p>I make things for the web. It amazes me. The combination of html, css and javascript is like some kind of sorcery powered by caffiene, beards and elf magic.
                    We cosume it with these magical little devices we all carry around in our pockets, purses and bags. How could I <i>not</i> want to be a part of that?</p>

                    <p>Over the years I've been a graphic designer, web desgner, GUI designer, Flash designer, UI designer, frontend designer, Design Director, Creative Director and UX designer
                    as well as a handful of things you probably wouldn't believe if I told you. Put all that in a pot, stir it around, and that's what I do.
                    For lack of a better term, I'll just say web designer. I'm Dave, and I'm a web designer.</p>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns">
                    <div class="map"><img src="assets/img/map.png"</div>
                </div>
            </div>

        <!-- <div class="row">
                <div class="tile_section">
                    <div class="large-4 columns">
                        <div class="tile">
                            <div class="content">
                                <h4 class="title">Define.</h4>
                                <p>Start with a good plan. Carfeully map out only what you users need. The goal here is to create an 'architecture contract' consisting of low fidelity wireframes for the cotent and the workflows. Every page, path, connection and goal for your user(s) should be accounted for at this stage.</p>
                            </div>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <div class="tile">
                            <div class="content">
                                <h4 class="title">Design.</h4>
                                <p>This is the supporting structure of your site or app. Build scalable, modular components that give 'shape' to the wireframes. Pay the technical debt and ensure the user experience (from a purely workflow perspective) is locked down. By the end of this stage, you should have a fully functional (although extremely bland) site or app.</p>
                            </div>
                        </div>
                    </div>
                    <div class="large-4 columns">
                        <div class="tile">
                            <div class="content">
                                <h4 class="title">Deliver.</h4>
                                <p>Reinforce the stellar UX established in the previous steps with an equally amazing UI presentation. It may sound corny, but expose the design the site needs. Don't just force a design for selfish/artistic reasons - let the structure form and shape the design decisions you make.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->


            <!-- <div class="row">
                <div class="large-12 columns">
                    <h3 class="">About</h3>
                    <p>I love the web.  It amazes me. The combination of html, css and javascript is like some kind of sorcery powered by caffiene, beards and elf magic. We cosume it with these magical little devices we all carry around in our pockets, purses and bags. How could I <i>not</i> want to be a part of that?</p>

                    <p>My goal isn't to create the 'next big thing' or revolutionize the web as we know it - at least not at this exact moment. Right now I just want to help a few folks and make this corner of the web a little better. I want to build simple, elegant websites and apps that are easy to use. I want to help a small business owner cast aside that neglected facebook page and trade it in for a successful online storefront. I want to help the project manager realize her goal of delivering a lean, mean responsive web application on time and under budget. In a nutshell, I want to help people capitalize on the enormous opportunities the web presents us with every day.</p>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <h3 class="2">Make it easy</h3>
                    <p>Keep it simple for your users. From the start, come at software architecture and design from their perspective. The result will be nimble solutions without the feature bloat that often confounds the user experience.</p>
                </div>
            </div>

            <div class="row">
                <div class="large-12 columns">
                    <h3 class="">Mobile first</h3>
                    <p>In today's environment, I cannot understand building a non-responsive site or app. Up front costs differences are negligible and longterm maintenance costs are likely much lower. It's like having a storefront entrance that only allows 75% of your customers inside.</p>
                </div>
            </div> -->


        </div>
    </div>